body {
  background-color:rgb(205, 231, 255);
  background-image: url("images/react.png");
  background-repeat: no-repeat; 
  background-position: center;
  background-size: 90vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.items {
  font-size: 5vw;
  font-family: 'Courier New', Courier, monospace;
}
#clicker {
  background-color: rgb(141, 194, 255);
  padding: 5px;
  border-radius: 10px;
  border-color: rgba(141, 194, 255, 0.5);
}
#clicker:active {
  transform: scale(0.95);
}
#clicker:focus {
  outline: none
}

#number {
  margin-bottom: 35vh;
  font-size: 8vw;
  font-weight: bold;
}